<h1>Posts#create</h1>
<p>Find me in app/views/posts/create.html.erb</p>
<br>
<%= Post %>
<% form_for @post do |f| %>
  <p>
    <%= f.label :post_text %><br />
    <%= f.text_field :post_text %>
  </p>
  <p><%= f.submit "Post" %></p>
<% end %>